* {
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden; }

body {
  margin: auto;
  font-family: "Barlow";
  overflow: hidden; }

.container {
  width: 80%;
  margin: auto; }
  @media (max-width: 1300px) {
    .container {
      width: 96%; } }

.bg {
  height: 400px;
  width: 50%;
  background-color: #eef3f6;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
  border-bottom-left-radius: 100px; }
  @media (max-width: 845px) {
    .bg {
      height: 490px; } }
  @media (max-width: 400px) {
    .bg {
      height: 450px; } }

ul a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 550;
  transition: .7s; }

.lists__link {
  position: relative;
  margin: 0;
  padding: 0; }
  @media (max-width: 845px) {
    .lists__link {
      margin-bottom: 20px; } }

.lists__link::after {
  content: '';
  width: 0%;
  height: 3.2px;
  background: #ff5c5c;
  position: absolute;
  bottom: 0%;
  top: 20px;
  left: 50%;
  border-radius: 10px;
  transition: all 500ms ease; }

.lists__link:hover::after {
  left: 0%;
  width: 100%; }

.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 60px; }
  @media (max-width: 845px) {
    .navbar {
      margin-top: 30px; } }
  .navbar__logo {
    margin: 10px; }
  .navbar__lists {
    margin: 10px; }
  @media (max-width: 845px) {
    .navbar .hide {
      display: none; } }
  @media (max-width: 845px) {
    .navbar .show {
      display: flex; } }
  .navbar__burger {
    display: none; }
    @media (max-width: 845px) {
      .navbar__burger {
        width: 30px;
        display: initial;
        position: absolute;
        right: 30px;
        top: 45px; } }
  .navbar__close {
    display: none; }
    @media (max-width: 845px) {
      .navbar__close {
        width: 30px;
        display: initial;
        position: absolute;
        right: 30px;
        top: 40px;
        display: none; } }

@media (max-width: 845px) {
  .lists {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    right: 28vw;
    top: 110px;
    text-align: center;
    padding: 30px 100px;
    z-index: 100;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: none; } }

@media (max-width: 620px) {
  .lists {
    right: 19%; } }

@media (max-width: 470px) {
  .lists {
    right: 11%; } }

@media (max-width: 395px) {
  .lists {
    right: 6%; } }

.lists__list {
  margin: 0 20px;
  font-size: 18px;
  font-weight: 900;
  color: #242942;
  transition: all 300ms; }
  .lists__list:hover {
    color: #ff5252; }
  .lists__list--bfr {
    margin-left: 90px;
    color: #5b5f71;
    position: relative; }
    @media (max-width: 845px) {
      .lists__list--bfr {
        margin: auto;
        top: 10px; } }
    .lists__list--bfr::before {
      content: ' ';
      height: 7px;
      width: 7px;
      border-radius: 50%;
      background-color: #b6b7be;
      position: absolute;
      top: 10px;
      right: 100px; }
      @media (max-width: 845px) {
        .lists__list--bfr::before {
          top: -10px;
          right: -100px;
          width: 250px;
          border-radius: initial;
          height: 1px; } }

.flex {
  display: flex;
  justify-content: space-between;
  margin-top: 100px; }
  @media (max-width: 1075px) {
    .flex {
      flex-direction: column-reverse; } }
  .flex img {
    width: 130%;
    position: relative;
    left: 25%; }
    @media (max-width: 845px) {
      .flex img {
        bottom: 50px; } }
    @media (max-width: 1300px) {
      .flex img {
        left: 9%; } }
    @media (max-width: 1075px) {
      .flex img {
        width: 100vw;
        left: 20%; } }
    @media (max-width: 720px) {
      .flex img {
        width: 120vw;
        left: 10%; } }
    @media (max-width: 500px) {
      .flex img {
        width: 140vw;
        left: -5%; } }

.textarea {
  margin-top: 50px;
  width: 60%;
  margin-bottom: 40px; }
  @media (max-width: 1075px) {
    .textarea {
      width: 100%; } }
  .textarea__lists {
    margin-bottom: 20px; }
    .textarea__lists il {
      font-size: 17px;
      margin-right: 2px;
      margin-left: 2px;
      padding: 4px 8px 5px;
      text-transform: uppercase;
      color: #b6b7be;
      cursor: pointer;
      box-sizing: border-box; }
    .textarea__lists .list1 {
      background-color: #242942;
      color: white;
      padding: 4px 8px 5px;
      border-radius: 15px;
      font-weight: bold;
      transition: background-color .3s ease-out;
      box-sizing: border-box; }
  .textarea__bigh {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 900;
    color: #242942;
    line-height: 100%;
    margin-bottom: 20px;
    transition: all .3s ease-in-out; }
    @media (max-width: 610px) {
      .textarea__bigh {
        font-size: 45px; } }
    @media (max-width: 445px) {
      .textarea__bigh {
        font-size: 35px; } }
  .textarea__smallh {
    font-size: 19px;
    font-weight: 400;
    color: #5b5f71;
    margin-bottom: 50px;
    width: 55%; }
    @media (max-width: 445px) {
      .textarea__smallh {
        width: 65%; } }
  .textarea__btn {
    padding: 14px 24px;
    border: none;
    background-color: #ff5c5c;
    color: white;
    font-size: 13px;
    font-weight: 500;
    border-radius: 5px;
    text-shadow: .5px .5px 1px white;
    text-transform: uppercase;
    transition: all .7s; }
    .textarea__btn:hover {
      background-color: #ff7373;
      box-shadow: 0 4px 8px 0 rgba(252, 105, 105, 0.3), 0 6px 20px 0 rgba(252, 105, 105, 0.3); }
  .textarea__spn {
    font-size: 15px;
    text-transform: uppercase;
    color: #b6b7be;
    font-weight: 400;
    margin-left: 10px; }
